* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Arial;
  font-size: 1.6rem;
  background: #eaf0f3;
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}
ul {
  list-style: none;
}
.about {
  max-width: 80%;
  margin: auto;
  padding-top: 3rem;
}
h3 {
  text-align: center;
  margin-bottom: 1rem;
}
.wrapper {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}
.image {
  width: 50%;
}
.image img {
  border-radius: 1rem;
}

.tab-container {
  width: 50%;
  background-color: #fff;
}
.tab-nav ul {
  display: flex;
  justify-content: space-between;
  background: #c9d8df85;
}
.tab-nav li {
  padding: 2rem;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
}
.tab-nav .active {
  background-color: #fff;
}
.tab-content {
  padding: 2rem;
  display: none;
}
h4 {
  margin-bottom: 1rem;
}
