* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #efeff1;
}
.container {
  margin: 50px auto;
  max-width: 600px;
  background: #fff;
  border: 1px solid #cac8c8;
  padding: 24px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
}
h2 {
  font-size: 14px;
}
#input-task {
  width: 100%;
  padding: 8px;
  border: 1px solid #cac8c8;
}

#add-task {
  background-color: #007bff;
  border: 1px solid #007bff;
  color: #fff;
  padding: 8px;
}
ul {
  list-style: none;
  margin-top: 14px;
}
.task-list li {
  border-bottom: 1px solid #cac8c8;
  padding: 10px 10px;
}
.task-list input {
  margin-right: 5px;
}
.delete-task {
  border: none;
  background: none;
}
.checked {
  text-decoration: line-through;
}
